@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

@media (max-height:620px){
    header { 
        width: 100%;
     }
}

h3{
  font-size: 30px;
  color: #ed6a05; 
  font-weight: bold; 
  margin-top: 20px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  @media screen and (max-width: 600px) {
    td, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.swift{
    text-align: center;
    margin-top: 50px;
}
.items{
    margin: auto;
    margin-top: 20px;
}
td{
    font-size: 20px;
    font-weight: medium;
}
input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
@media screen and (max-width: 800px) {
  .sub, .footer-distributed {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.sub{
    width: 150px;
    color: #fff; 
    background-color: #ed6a05;
    border: none;
    margin-top: 20px;
}
footer{
    margin-top: 80px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

	.footer-distributed .logo,
	.footer-distributed .contacts,
	.footer-distributed .careers{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .logo i{
		margin-left: 0;
	}

}
